:root {
    --background-image: url("resources/wallpaper_dark.svg");

}

body {
    /* Reset styles for centering */
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-image) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #000000;
    font-family: 'Jetbrains', monospace;
    /* Adjust layout to position terminal at the bottom right */
    position: relative;
}

body.light-mode{
    --background-image: url("resources/wallpaper_light.svg");
}

h1, h2 {
    color: #fff;
}

button {
    background-color: #fff;
    color: #000;
    border: 1px solid #222;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #eee;
}

button:disabled {
    background-color: #aaa;
    color: #666;
    border-color: #444;
    cursor: not-allowed;
}

button.clicked {
    box-shadow: 0 0 5px rgb(0, 162, 255);
    transform: scale(0.97);
}

#terminal {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    height: 100px;
    background-color: #111;
    padding: 10px;
    border: 1px solid #444;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Smooth transition for pop-up */
    transition: all 0.3s ease;
    /* Ensure terminal is above other elements */
    z-index: 1000;
}

#terminal.centered {
    bottom: 50%;
    right: 50%;
    /* Moves it to the middle */
    transform: translate(50%, 50%);
    /* Adjusts from corner to center */
    top: auto;
    left: auto;
    width: 400px;
    height: 300px;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.75);
}

#terminal.error {
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.75);
}

#console-log {
    flex: 1;
    overflow: hidden;
    margin-bottom: 10px;
    white-space: pre-wrap;
    color: #fff;
    font-family: monospace;
    font-size: 14px;
    background-color: inherit;
}

#command-input {
    width: 100%;
    padding: 5px;
    background-color: #000;
    border: 1px solid #fff;
    color: #fff;
    font-family: monospace;
    font-size: 14px;
    box-sizing: border-box;
}

#blur-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 999;
    /* Positioned just behind the terminal */
    pointer-events: none;
    /* Ensure it doesn't block interactions */
}

#blur-layer.blurred {
    backdrop-filter: blur(10px);
}

#profile-menu {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 250px;
    background-color: #222;
    color: #fff;
    border-right: 1px solid #444;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-sizing: border-box;
    z-index: 1000;
}

#profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #fff;
}

#profile-name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

#profile-options {
    list-style: none;
    padding: 0;
    margin: 0;
}

#profile-options li {
    margin: 10px 0;
}

#profile-options a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

#profile-options a:hover {
    color: #00a2ff;
}